<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{% block title %}{% endblock %}Baun Admin</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="robots" content="noindex,nofolow">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ base_url }}/assets/plugins/bauncms/baun-admin/style.css">
	{% block styles %}{% endblock %}
</head>
<body>

	{% if logged_in %}
	<nav class="navbar navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{ base_url }}/admin">Baun</a>
			</div>
			<div id="navbar" class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li{% if current_uri == "admin" %} class="active"{% endif %}><a href="{{ base_url }}/admin">Pages</a></li>
					{% if blog_path %}
					<li{% if current_uri == "admin/posts" %} class="active"{% endif %}><a href="{{ base_url }}/admin/posts">Posts</a></li>
					{% endif %}
					<li{% if current_uri == "admin/users" %} class="active"{% endif %}><a href="{{ base_url }}/admin/users">Users</a></li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li><a href="{{ base_url }}/admin/logout">Logout</a></li>
				</ul>
			</div>
		</div>
	</nav>
	{% endif %}

	<div class="container">
		{% block content %}{% endblock %}
	</div>

	{% if logged_in %}
	<footer class="footer container">
		Powered by <a href="http://bauncms.com">Baun</a> /
		<a href="http://bauncms.com/docs">Documentation</a> /
		<a href="mailto:support@bauncms.com">Support</a>
	</footer>
	{% endif %}

	<script>var base_url = '{{ base_url }}';</script>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	{% block scripts %}{% endblock %}

</body>
</html>