{% extends "admin-layout.html" %}

{% block title %}Create User - {% endblock %}

{% block content %}
	{% if logged_in %}
	<div id="create-user">
		<div class="well">
	{% else %}
	<div id="create-user" class="col-sm-4 col-sm-offset-4" style="margin-top:50px;">
	{% endif %}
		<h1>Create User</h1>
		{% if not logged_in %}
		<p>Before you can login to the Baun Admin you need to create a user using the form below.</p>
		{% endif %}
		{% if error %}
			<div class="alert alert-danger" role="alert">{{ error }}</div>
		{% endif %}
		<form method="post" action="{{ base_url }}/admin/create-user">
			<div class="form-group">
				<label for="email">Email Address</label>
				<input type="email" name="email" id="email" class="form-control" placeholder="Email Address" required autofocus>
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" name="password" id="password" class="form-control" placeholder="Password" required>
			</div>
			<input type="hidden" name="token" value="{{ token }}">
			<input type="submit" value="Create" class="btn btn-primary">
		</form>
	{% if logged_in %}
		</div>
	{% endif %}
	</div>
{% endblock %}