{% extends "admin-layout.html" %}

{% block title %}Edit {{ label }} - {% endblock %}

{% block content %}
	<div id="edit-{{ type }}">
		<div class="well">
			<h1>Edit {{ label }}</h1>
			{% if error %}
				<div class="alert alert-danger" role="alert">{{ error }}</div>
			{% endif %}
			<form method="post" action="{{ form_action }}">
				<div class="form-group">
					<label for="title">Title</label>
					<div class="input-group">
						<input type="text" name="title" id="title" class="form-control" value="{{ title }}">
						{% if view_url %}
							<div class="input-group-addon">
								<a href="{{ view_url }}" target="_blank"><span class="glyphicon glyphicon-eye-open"></span> View</a>
							</div>
						{% endif %}
					</div>
				</div>
				<div class="form-group">
					<label for="description">Description (for search engines)</label>
					<input type="text" name="description" id="description" class="form-control" placeholder="(optional)" value="{{ description }}">
				</div>
				<div class="form-group content-editor">
					<label for="content">Content</label>
					<textarea name="content" id="content" rows="20" class="form-control" data-provide="markdown">{{ content }}</textarea>
				</div>
				<input type="submit" value="Save {{ label }}" class="btn btn-primary">
			</form>
		</div>
	</div>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{{ base_url }}/assets/plugins/bauncms/baun-admin/bootstrap-markdown/css/bootstrap-markdown.min.css">
{% endblock %}

{% block scripts %}
	<script src="{{ base_url }}/assets/plugins/bauncms/baun-admin/markdown-js/markdown.js"></script>
	<script src="{{ base_url }}/assets/plugins/bauncms/baun-admin/bootstrap-markdown/js/bootstrap-markdown.js"></script>
{% endblock %}