{% extends "admin-layout.html" %}

{% block title %}Edit {{ label }} - {% endblock %}

{% block content %}
	<div id="edit-{{ type }}">
		<div class="well">
			<h1>Edit {{ label }}</h1>
			{% if error %}
				<div class="alert alert-danger" role="alert">{{ error }}</div>
			{% endif %}
			<form method="post" action="{{ form_action }}">
				<div class="form-group">
					<label for="path">File Path</label>
					<div class="input-group">
						{% if blog_path_base %}
							<div class="input-group-addon">content/{{ blog_path_base }}/</div>
						{% else %}
							<div class="input-group-addon">content/</div>
						{% endif %}
						<input type="text" name="path" class="form-control" value="{{ path }}" readonly>
						{% if view_url %}
							<div class="input-group-addon">
								<a href="{{ view_url }}" target="_blank"><span class="glyphicon glyphicon-eye-open"></span> View</a>
							</div>
						{% endif %}
					</div>
				</div>
				<div class="form-group header-editor">
					<label for="header">Header (YAML)</label>
					<textarea name="header" id="header" rows="5" class="form-control">{{ header }}</textarea>
				</div>
				<div class="form-group content-editor">
					<label for="content">Content (Markdown)</label>
					<textarea name="content" id="content" rows="20" class="form-control">{{ content }}</textarea>
				</div>
				<input type="submit" value="Save {{ label }}" class="btn btn-primary">
			</form>
		</div>
	</div>
{% endblock %}

{% block styles %}
	<link rel="stylesheet" href="{{ base_url }}/assets/plugins/bauncms/baun-admin/codemirror/lib/codemirror.css">
	<link rel="stylesheet" href="{{ base_url }}/assets/plugins/bauncms/baun-admin/codemirror/theme/neo.css">
{% endblock %}

{% block scripts %}
	<script src="{{ base_url }}/assets/plugins/bauncms/baun-admin/codemirror/lib/codemirror.js"></script>
	<script src="{{ base_url }}/assets/plugins/bauncms/baun-admin/codemirror/mode/yaml/yaml.js"></script>
	<script src="{{ base_url }}/assets/plugins/bauncms/baun-admin/codemirror/mode/markdown/markdown.js"></script>
	<script>
	CodeMirror.fromTextArea($('#header')[0], {
		mode: 'yaml',
		theme: 'neo',
		lineWrapping: true
	});
	CodeMirror.fromTextArea($('#content')[0], {
		mode: 'markdown',
		theme: 'neo',
		lineWrapping: true
	});
	</script>
{% endblock %}